html { box-sizing: border-box; 
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  @media screen and (max-width: 520px) {font-size: 75%;}
}

/* Nav Bar  */

#navBar {
  display: flex;
  flex-direction: row;
  margin: 0 18% 0 18%;  
}

#navBar h1 {
  font-size: 39.06px;
  line-height: 35px;
  font-family: "Averia Libre", Times, serif;
  color: rgb(46, 46, 46);
}

#navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

#navigation p {
  padding: 40px;
  font-family: "Raleway", sans-serif;
  color: rgb(46, 46, 46);
}


/* Hero Thing */

#hero {
  display: flex;
  flex-direction: row;
  margin: 20px 18%;
  align-items: center;
}

#hero h1 {
  font-size: 61.04px;
  line-height: 50px;
  font-family: "Averia Libre", Times, serif;
  color: rgb(46, 46, 46);
}

#hero p {
  font-family: "Raleway thin", sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: rgb(46, 46, 46);
}

#hero img {
  margin: 50px 12%;
}

/* Random Shiz */

body {
  background-color: #F5F5F5;
}

/* Style Guide */

#styles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 18%;
}

#styles h1 {
  font-size: 39.06px;
  line-height: auto;
  font-family: "Averia Libre", Times, serif;
  color: rgb(46, 46, 46);
}

#styles h2 {
  font-size: 39.06px;
  line-height: auto;
  font-family: "raleway", arial, sans-serif;
  color: #2e2e2e;
}

/* Boxes */

.poop {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 18%;  
}


#backgroundcolor {
  background-color: #F5F5F5;
  width: 175px;
  height: 175px;
  border: 1px solid rgb(151, 25, 73);
  margin-right: 50px;
}

#backgroundcolor p{
  text-align: center;
  font-size: 25px;
  font-family: "raleway", arial, sans-serif;
  color: #2e2e2e

}

#textcolor {
  background-color: #2e2e2e;
  width: 175px;
  height: 175px;
  margin-right: 50px;
}

#textcolor p{
  text-align: center;
  font-size: 25px;
  font-family: "raleway", arial, sans-serif;
  color: #d3d3d3;
}


/* Fonts */

.fonts4all {
  margin: 0 0 0 18%;  
}

#heading {
  font-size: 61.04px;
  font-family: "Averia Libre", Times, serif;
  color: rgb(46, 46, 46);
}

#smallerheading {
  font-size: 39.06px;
  font-family: "Averia Libre", Times, serif;
  color: rgb(46, 46, 46);
}

#liltypes {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: rgb(46, 46, 46);
}