html { box-sizing: border-box; 
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  @media screen and (max-width: 520px) {font-size: 75%;}
}

/* Nav Bar  */

#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}

#navBar h1 {
  width: 25%;
  font-size: 39.06px;
  line-height: 35px;
  font-family: "Averia Libre", Times, serif;
  color: rgb(46, 46, 46);
}

#navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 75%;
  
}

#navigation p {
  padding: 40px;
  font-family: "Raleway", sans-serif;
  color: rgb(46, 46, 46);
}


/* Hero Thing */

#hero {
  display: flex;
  flex-direction: row;
  margin: 20px 18%;
  align-items: center;
}

#hero h1 {
  font-size: 61.04px;
  line-height: 50px;
  font-family: "Averia Libre", Times, serif;
  color: rgb(46, 46, 46);
}

#hero p {
  font-family: "Raleway thin", sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: rgb(46, 46, 46);
}

#hero img {
  margin: 50px 12%;
}

/* Random Shiz */

body {
  background-color: #F5F5F5;
}

/* Style Guide */

#styles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 18%;
}

#styles h1 {
  font-size: 61.04px;
  line-height: auto;
  font-family: "Averia Libre", Times, serif;
  color: rgb(46, 46, 46);
}

#styles h2 {
  font-size: 39.06px;
  line-height: auto;
  font-family: "raleway", arial, sans-serif;
  color: rgb(46, 46, 46);
}

/* Boxes */

#colorswatch {
  width: 250px;
  height: 150px;
  padding: 20px;
  display: inline-block;
  text-align: justify;
  font-size: 25.00px;
  line-height: auto;
  font-family: "raleway", arial, sans-serif;
  color: rgb(46, 46, 46);
}

#colorswatch background {
  background:#F5F5F5;
  color:#666;
  margin: 0 20px 0 18%;
  outline: 1px ridge;
}

#colorswatch black {
  background:rgb(46, 46, 46);
  color:#F5F5F5;
  margin: 0 0 20px ;

}